# Effective Pandas Patterns for Data Manipulation

---
In this notebook, I'm going to learn using Matt Harrison’s book.

---
## Data structures
Pandas is created on 2 types of objects: Series and DataFrames
Series is nothing more like a single column in dataFrame or a single column in matrix. It has one axis. It is always values. 
DataFrame has 2 axises: rows and columns. It is build from Series'

In [44]:
import pandas as pd

example_list = [num for num in range(0,9)]

first_example_of_Series = pd.Series(example_list)
first_example_of_Series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

It seems we see 2 columns, but there is only one column with values from #example_list
We can name a Series object like we want and also change indexes of values

In [45]:
import string

series_length = len(first_example_of_Series)
first_example_of_Series.index = list(string.ascii_uppercase[:series_length])

first_example_of_Series.name = 'first series'
first_example_of_Series

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
Name: first series, dtype: int64

Sometimes when we load some data from like we have a problem with a No Number Value in cols where we have numbers. It is automatically placed during loading data if we don't have a value for a column

In [46]:
nan_series = pd.Series([1, 2, 4, None])
nan_series

0    1.0
1    2.0
2    4.0
3    NaN
dtype: float64

but we can handle this values using dropna, fillna, but about this later like author said

## boolean series

In [47]:
songs = pd.Series([142, 222, 5, 25], index = ['Peja', 'Bieber', 'Quebonafide', 'Noname'])

mask = songs > songs.mean()

mask

Peja            True
Bieber          True
Quebonafide    False
Noname         False
dtype: bool

If we want to get a piece of Series where the values are true it's easy

In [48]:
songs[mask]

songs[songs > 200]

Bieber    222
dtype: int64

##  Categorical data
When you load data, you can indicate that the data is categorical. If we know that our data is
limited to a few values; we might want to use categorical data. Categorical values have a few
benefits:
+ Use less memory than strings
+ Improve performance
+ Can have an ordering
+ Can perform operations on categories
+ Enforce membership on values

Categories are not limited to strings; 
we can also convert numbers or datetime values to categorical data.
To create a category, we pass dtype="category" into the Series constructor.

In [49]:
size_series = pd.Series(['XS', 'S', 'M', 'L', 'XL'], dtype = 'category')


size_series.cat.ordered

False

## Exercises from the book

### Using Jupyter, create a series with the temperature values for the last seven days. Filter out the values below the mean.

In [50]:
import numpy as np

temperatures = pd.Series([7.0, 11.5, 17, 13, 15, 20])

temperatures[temperatures < np.mean(temperatures)]

0     7.0
1    11.5
3    13.0
dtype: float64

### Using Jupyter, create a series with your favorite colors. Use a categorical type.

In [51]:
colors = pd.Series(['red', 'blue', 'orange'], dtype = 'category')
colors

0       red
1      blue
2    orange
dtype: category
Categories (3, object): ['blue', 'orange', 'red']

# Series Deep Dive

It is interested that we can read_csv also from URLS and even from .zip files if there is only one csv. compressed file in

In [52]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'

data_full = pd.read_csv(url)

data_full.head()

C:\Users\szymo\AppData\Local\Temp\ipykernel_14920\676380738.py:3: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  data_full = pd.read_csv(url)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

By looking at dtype of dataFrame we can see if there are some missing values. If there are on number columns will be Int64 not int64

In [53]:
df.city08.info()

AttributeError: 'DataFrame' object has no attribute 'city08'

## 5.2 Series Attributes

The pandas library provides a lot of functionality. The built-in dir function will list the attributes
of an object. Let’s examine how many attributes there are on a series:

In [ ]:
len(dir(df.city08)) #returns the number of available to use attributes

422

### 1. Explore the documentation for five attributes of a series from Jupyter.

In [ ]:
help(df.city08.dtype)
dir(df.city08)  # Lists all attributes and methods

Help on Int64DType object:

class Int64DType(_IntegerAbstractDType)
 |  DType class corresponding to the scalar type and dtype of the same name.
 |
 |  Please see `numpy.dtype` for the typical way to create
 |  dtype instances and :ref:`arrays.dtypes` for additional
 |  information.
 |
 |  Method resolution order:
 |      Int64DType
 |      _IntegerAbstractDType
 |      numpy.dtype
 |      builtins.object
 |
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from numpy.dtype:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  newbyteorder(...)
 |      newbyteorder(new_order='S', /)
 |
 |      Return a new dtype with a different byte order.
 |
 |      Changes are also made in all fields and sub-arrays of the data type.
 |
 |      Parameters
 |      ----------
 |      new_order : string, optional
 |          Byte order to force; a value from the byte order specifications
 |          below.  The default value ('S') results in swapping the current
 |          byte order.  `new_order` codes can be any of:
 |
 |          * 'S' - swap dtype from current to opposite endian
 |          * {'<', 'little'} - little endian
 |          * {'>', 'big'} - big endian
 |          * {'=', 'native'} - native order
 |          * {'|', 'I'} - ignore (no change to byte order)
 |
 |      Returns
 |      -------
 |      new_dtype : dtype
 |          New dtype object with the given change to the byte order.
 |
 |      Notes
 |      -----
 |      Changes are also made in all fields and sub-arrays of the data type.
 |
 |      Examples
 |      --------
 |      >>> import sys
 |      >>> sys_is_le = sys.byteorder == 'little'
 |      >>> native_code = '<' if sys_is_le else '>'
 |      >>> swapped_code = '>' if sys_is_le else '<'
 |      >>> import numpy as np
 |      >>> native_dt = np.dtype(native_code+'i2')
 |      >>> swapped_dt = np.dtype(swapped_code+'i2')
 |      >>> native_dt.newbyteorder('S') == swapped_dt
 |      True
 |      >>> native_dt.newbyteorder() == swapped_dt
 |      True
 |      >>> native_dt == swapped_dt.newbyteorder('S')
 |      True
 |      >>> native_dt == swapped_dt.newbyteorder('=')
 |      True
 |      >>> native_dt == swapped_dt.newbyteorder('N')
 |      True
 |      >>> native_dt == native_dt.newbyteorder('|')
 |      True
 |      >>> np.dtype('<i2') == native_dt.newbyteorder('<')
 |      True
 |      >>> np.dtype('<i2') == native_dt.newbyteorder('L')
 |      True
 |      >>> np.dtype('>i2') == native_dt.newbyteorder('>')
 |      True
 |      >>> np.dtype('>i2') == native_dt.newbyteorder('B')
 |      True
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from numpy.dtype:
 |
 |  __class_getitem__(object, /)
 |      __class_getitem__(item, /)
 |
 |      Return a parametrized wrapper around the `~numpy.dtype` type.
 |
 |      .. versionadded:: 1.22
 |
 |      Returns
 |      -------
 |      alias : types.GenericAlias
 |          A parametrized `~numpy.dtype` type.
 |
 |      Examples
 |      --------
 |      >>> import numpy as np
 |
 |      >>> np.dtype[np.int64]
 |      numpy.dtype[numpy.int64]
 |
 |      See Also
 |      --------
 |      :pep:`585` : Type hinting generics in standard collections.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from numpy.dtype:
 |
 |  alignment
 |      The required alignment (bytes) of this data-type according to the compiler.
 |
 |      More information is available in the C-API section of the manual.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> x = np.dtype('i4')
 |      >>> x.alignment
 |      4
 |
 |      >>> x = np.dtype(float)
 |      >>> x.alignment
 |      8
 |
 |  base
 |      Returns dtype for the base element of the subarrays,
 |      regardless of their dimension or shape.
 |
 |      See Also
 |      --------
 |      dtype.subdtype
 |
 |      Examples
 |      --------
 |      >>> import numpy as np
 |      >>> x = numpy.dtype('8f')
 |      >>> x.base
 |      dtype('float32')
 |
 |      >>> x =  numpy.dtype('i2')
 |      >>> x.base
 |      dtype('int16')
 |
 |  byteorder
 |      A character indicating the byte-order of this data-type object.
 |
 |      One of:
 |
 |      ===  ==============
 |      '='  native
 |      '<'  little-endian
 |      '>'  big-endian
 |      '|'  not applicable
 |      ===  ==============
 |
 |      All built-in data-type objects have byteorder either '=' or '|'.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype('i2')
 |      >>> dt.byteorder
 |      '='
 |      >>> # endian is not relevant for 8 bit numbers
 |      >>> np.dtype('i1').byteorder
 |      '|'
 |      >>> # or ASCII strings
 |      >>> np.dtype('S2').byteorder
 |      '|'
 |      >>> # Even if specific code is given, and it is native
 |      >>> # '=' is the byteorder
 |      >>> import sys
 |      >>> sys_is_le = sys.byteorder == 'little'
 |      >>> native_code = '<' if sys_is_le else '>'
 |      >>> swapped_code = '>' if sys_is_le else '<'
 |      >>> dt = np.dtype(native_code + 'i2')
 |      >>> dt.byteorder
 |      '='
 |      >>> # Swapped code shows up as itself
 |      >>> dt = np.dtype(swapped_code + 'i2')
 |      >>> dt.byteorder == swapped_code
 |      True
 |
 |  char
 |      A unique character code for each of the 21 different built-in types.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> x = np.dtype(float)
 |      >>> x.char
 |      'd'
 |
 |  descr
 |      `__array_interface__` description of the data-type.
 |
 |      The format is that required by the 'descr' key in the
 |      `__array_interface__` attribute.
 |
 |      Warning: This attribute exists specifically for `__array_interface__`,
 |      and passing it directly to `numpy.dtype` will not accurately reconstruct
 |      some dtypes (e.g., scalar and subarray dtypes).
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> x = np.dtype(float)
 |      >>> x.descr
 |      [('', '<f8')]
 |
 |      >>> dt = np.dtype([('name', np.str_, 16), ('grades', np.float64, (2,))])
 |      >>> dt.descr
 |      [('name', '<U16'), ('grades', '<f8', (2,))]
 |
 |  fields
 |      Dictionary of named fields defined for this data type, or ``None``.
 |
 |      The dictionary is indexed by keys that are the names of the fields.
 |      Each entry in the dictionary is a tuple fully describing the field::
 |
 |        (dtype, offset[, title])
 |
 |      Offset is limited to C int, which is signed and usually 32 bits.
 |      If present, the optional title can be any object (if it is a string
 |      or unicode then it will also be a key in the fields dictionary,
 |      otherwise it's meta-data). Notice also that the first two elements
 |      of the tuple can be passed directly as arguments to the
 |      ``ndarray.getfield`` and ``ndarray.setfield`` methods.
 |
 |      See Also
 |      --------
 |      ndarray.getfield, ndarray.setfield
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype([('name', np.str_, 16), ('grades', np.float64, (2,))])
 |      >>> print(dt.fields)
 |      {'grades': (dtype(('float64',(2,))), 16), 'name': (dtype('|S16'), 0)}
 |
 |  flags
 |      Bit-flags describing how this data type is to be interpreted.
 |
 |      Bit-masks are in ``numpy._core.multiarray`` as the constants
 |      `ITEM_HASOBJECT`, `LIST_PICKLE`, `ITEM_IS_POINTER`, `NEEDS_INIT`,
 |      `NEEDS_PYAPI`, `USE_GETITEM`, `USE_SETITEM`. A full explanation
 |      of these flags is in C-API documentation; they are largely useful
 |      for user-defined data-types.
 |
 |      The following example demonstrates that operations on this particular
 |      dtype requires Python C-API.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> x = np.dtype([('a', np.int32, 8), ('b', np.float64, 6)])
 |      >>> x.flags
 |      16
 |      >>> np._core.multiarray.NEEDS_PYAPI
 |      16
 |
 |  hasobject
 |      Boolean indicating whether this dtype contains any reference-counted
 |      objects in any fields or sub-dtypes.
 |
 |      Recall that what is actually in the ndarray memory representing
 |      the Python object is the memory address of that object (a pointer).
 |      Special handling may be required, and this attribute is useful for
 |      distinguishing data types that may contain arbitrary Python objects
 |      and data-types that won't.
 |
 |  isalignedstruct
 |      Boolean indicating whether the dtype is a struct which maintains
 |      field alignment. This flag is sticky, so when combining multiple
 |      structs together, it is preserved and produces new dtypes which
 |      are also aligned.
 |
 |  isbuiltin
 |      Integer indicating how this dtype relates to the built-in dtypes.
 |
 |      Read-only.
 |
 |      =  ========================================================================
 |      0  if this is a structured array type, with fields
 |      1  if this is a dtype compiled into numpy (such as ints, floats etc)
 |      2  if the dtype is for a user-defined numpy type
 |         A user-defined type uses the numpy C-API machinery to extend
 |         numpy to handle a new array type. See
 |         :ref:`user.user-defined-data-types` in the NumPy manual.
 |      =  ========================================================================
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype('i2')
 |      >>> dt.isbuiltin
 |      1
 |      >>> dt = np.dtype('f8')
 |      >>> dt.isbuiltin
 |      1
 |      >>> dt = np.dtype([('field1', 'f8')])
 |      >>> dt.isbuiltin
 |      0
 |
 |  isnative
 |      Boolean indicating whether the byte order of this dtype is native
 |      to the platform.
 |
 |  itemsize
 |      The element size of this data-type object.
 |
 |      For 18 of the 21 types this number is fixed by the data-type.
 |      For the flexible data-types, this number can be anything.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> arr = np.array([[1, 2], [3, 4]])
 |      >>> arr.dtype
 |      dtype('int64')
 |      >>> arr.itemsize
 |      8
 |
 |      >>> dt = np.dtype([('name', np.str_, 16), ('grades', np.float64, (2,))])
 |      >>> dt.itemsize
 |      80
 |
 |  kind
 |      A character code (one of 'biufcmMOSUV') identifying the general kind of data.
 |
 |      =  ======================
 |      b  boolean
 |      i  signed integer
 |      u  unsigned integer
 |      f  floating-point
 |      c  complex floating-point
 |      m  timedelta
 |      M  datetime
 |      O  object
 |      S  (byte-)string
 |      U  Unicode
 |      V  void
 |      =  ======================
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype('i4')
 |      >>> dt.kind
 |      'i'
 |      >>> dt = np.dtype('f8')
 |      >>> dt.kind
 |      'f'
 |      >>> dt = np.dtype([('field1', 'f8')])
 |      >>> dt.kind
 |      'V'
 |
 |  metadata
 |      Either ``None`` or a readonly dictionary of metadata (mappingproxy).
 |
 |      The metadata field can be set using any dictionary at data-type
 |      creation. NumPy currently has no uniform approach to propagating
 |      metadata; although some array operations preserve it, there is no
 |      guarantee that others will.
 |
 |      .. warning::
 |
 |          Although used in certain projects, this feature was long undocumented
 |          and is not well supported. Some aspects of metadata propagation
 |          are expected to change in the future.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype(float, metadata={"key": "value"})
 |      >>> dt.metadata["key"]
 |      'value'
 |      >>> arr = np.array([1, 2, 3], dtype=dt)
 |      >>> arr.dtype.metadata
 |      mappingproxy({'key': 'value'})
 |
 |      Adding arrays with identical datatypes currently preserves the metadata:
 |
 |      >>> (arr + arr).dtype.metadata
 |      mappingproxy({'key': 'value'})
 |
 |      But if the arrays have different dtype metadata, the metadata may be
 |      dropped:
 |
 |      >>> dt2 = np.dtype(float, metadata={"key2": "value2"})
 |      >>> arr2 = np.array([3, 2, 1], dtype=dt2)
 |      >>> (arr + arr2).dtype.metadata is None
 |      True  # The metadata field is cleared so None is returned
 |
 |  name
 |      A bit-width name for this data-type.
 |
 |      Un-sized flexible data-type objects do not have this attribute.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> x = np.dtype(float)
 |      >>> x.name
 |      'float64'
 |      >>> x = np.dtype([('a', np.int32, 8), ('b', np.float64, 6)])
 |      >>> x.name
 |      'void640'
 |
 |  names
 |      Ordered list of field names, or ``None`` if there are no fields.
 |
 |      The names are ordered according to increasing byte offset. This can be
 |      used, for example, to walk through all of the named fields in offset order.
 |
 |      Examples
 |      --------
 |      >>> dt = np.dtype([('name', np.str_, 16), ('grades', np.float64, (2,))])
 |      >>> dt.names
 |      ('name', 'grades')
 |
 |  ndim
 |      Number of dimensions of the sub-array if this data type describes a
 |      sub-array, and ``0`` otherwise.
 |
 |      .. versionadded:: 1.13.0
 |
 |      Examples
 |      --------
 |      >>> import numpy as np
 |      >>> x = np.dtype(float)
 |      >>> x.ndim
 |      0
 |
 |      >>> x = np.dtype((float, 8))
 |      >>> x.ndim
 |      1
 |
 |      >>> x = np.dtype(('i4', (3, 4)))
 |      >>> x.ndim
 |      2
 |
 |  num
 |      A unique number for each of the 21 different built-in types.
 |
 |      These are roughly ordered from least-to-most precision.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype(str)
 |      >>> dt.num
 |      19
 |
 |      >>> dt = np.dtype(float)
 |      >>> dt.num
 |      12
 |
 |  shape
 |      Shape tuple of the sub-array if this data type describes a sub-array,
 |      and ``()`` otherwise.
 |
 |      Examples
 |      --------
 |
 |      >>> import numpy as np
 |      >>> dt = np.dtype(('i4', 4))
 |      >>> dt.shape
 |      (4,)
 |
 |      >>> dt = np.dtype(('i4', (2, 3)))
 |      >>> dt.shape
 |      (2, 3)
 |
 |  str
 |      The array-protocol typestring of this data-type object.
 |
 |  subdtype
 |      Tuple ``(item_dtype, shape)`` if this `dtype` describes a sub-array, and
 |      None otherwise.
 |
 |      The *shape* is the fixed shape of the sub-array described by this
 |      data type, and *item_dtype* the data type of the array.
 |
 |      If a field whose dtype object has this attribute is retrieved,
 |      then the extra dimensions implied by *shape* are tacked on to
 |      the end of the retrieved array.
 |
 |      See Also
 |      --------
 |      dtype.base
 |
 |      Examples
 |      --------
 |      >>> import numpy as np
 |      >>> x = numpy.dtype('8f')
 |      >>> x.subdtype
 |      (dtype('float32'), (8,))
 |
 |      >>> x =  numpy.dtype('i2')
 |      >>> x.subdtype
 |      >>>
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from numpy.dtype:
 |
 |  type = <class 'numpy.int64'>
 |      Default signed integer type, 64bit on 64bit systems and 32bit on 32bit
 |      systems.
 |
 |      :Character code: ``'q'``
 |      :Canonical name: `numpy.int_`
 |      :Alias on this platform (win32 AMD64): `numpy.int64`: 64-bit signed integer (``-9_223_372_036_854_775_808`` to ``9_223_372_036_854_775_807``).
 |      :Alias on this platform (win32 AMD64): `numpy.intp`: Signed integer large enough to fit pointer, compatible with C ``intptr_t``.

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__firstlineno__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

#### How many attributes are found on the .str attribute? Look at the documentation for threeof them.

In [ ]:
len(dir(pd.Series.str))

93

#### How many attributes are found on the .dt attribute? Look at the documentation for three of them.

In [ ]:
len(dir(pd.Series.dt))

98

# Operators (& Dunder Methods)

In [ ]:
city_mpg = df.city08
highway_mpg = df . highway08

(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [ ]:
s1 = pd.Series([10, 20, 30], index=[1,2,2])
s2 = pd.Series([35, 44, 54], index=[2, 2, 4])

s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

#### Exercises
With a dataset of your choice:
1. Add a numeric series to itself.
2. Add 10 to a numeric series.
3. Add a numeric series to itself using the .add method.
4. Read the documentation for the .add method.

In [ ]:
#1
s_1 = pd.Series([1, 2, 3, 4, 5])
s_2 = pd.Series([1, 2, 3])

s_1.add(s_2, fill_value=0)

0    2.0
1    4.0
2    6.0
3    4.0
4    5.0
dtype: float64

In [ ]:
s_1.add(10)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [ ]:
city_mpg.quantile(0.8) # scalar
city_mpg.quantile([0.25, 0.5, 0.7, 0.9]) # Series

0.25    15.0
0.50    17.0
0.70    20.0
0.90    24.0
Name: city08, dtype: float64

If I want to count of values that meet some criteria, I can use .sum() method

In [ ]:
city_mpg.gt(20).sum() # number of entries where city_mpg > 20

np.int64(10272)

In [ ]:
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

result = s.agg(['sum', 'mean', 'min', 'max', 'std'])
result

sum     150.000000
mean     30.000000
min      10.000000
max      50.000000
std      15.811388
dtype: float64

## 7.5 Exercises

With a dataset of your choice:
1. Find the count of non-missing values of a series.
2. Find the number of entries of a series.
3. Find the number of unique entries of a series.
4. Find the mean value of a series.
5. Find the maximum value of a series.
6. Use the .agg method to find all of the above.

In [ ]:
#1 
series = pd.Series([None, 2, 11, 15, None])
series.count()

np.int64(3)

In [ ]:
#2
series.size

5

In [ ]:
series.unique

<bound method Series.unique of 0     NaN
1     2.0
2    11.0
3    15.0
4     NaN
dtype: float64>

In [ ]:
series.mean

<bound method Series.mean of 0     NaN
1     2.0
2    11.0
3    15.0
4     NaN
dtype: float64>

In [ ]:
result = series.agg(['count', 'size', 'unique', 'mean', 'max'])

result

count                          3
size                           5
unique    [nan, 2.0, 11.0, 15.0]
mean                    9.333333
max                         15.0
dtype: object

# Conversion Methods

In [ ]:


series.astype('category')

values = pd.Series(sorted(set(city_mpg)))


city_type = pd.CategoricalDtype(categories=values, ordered=True)

city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: category
Categories (105, int64): [6 < 7 < 8 < 9 ... 137 < 138 < 140 < 150]

In [ ]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
41139      19
41140      20
41141      18
41142      18
41143      16

[41144 rows x 1 columns]

## 8.7 Exercises
With a dataset of your choice:
1. Convert a numeric column to a smaller type.
2. Calculate the memory savings by converting to smaller numeric types.
3. Convert a string column into a categorical type.
4. Calculate the memory savings by converting to a categorical type.

In [ ]:
# 1
#city_mpg.astype('float64')

# 2
city_mpg.astype('int32').memory_usage(deep=True)

# 3
df.columns

df.atvType.dtype

dtype('O')

# Manipulation Methods

In [ ]:
make = df.make

make.value_counts()

top5 = make.value_counts().index[:5]
top10 = make.value_counts().index[:10]

make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [ ]:
np_array = np.select([make.isin(top5), make.isin(top10)], [make, 'Top10'], 'Other')

new_series = pd.Series(np_array, index=make.index)
new_series.head(10)

0     Other
1     Other
2     Dodge
3     Dodge
4     Other
5     Other
6     Other
7    Toyota
8    Toyota
9    Toyota
dtype: object

### Filling missing data

In [ ]:
cyl = df.cylinders


cyl_filled = cyl.fillna(cyl.mean)
cyl_filled.isna().sum()

np.int64(0)

### Interpolation
1. It is useful when we have ordered data such as dates

In [ ]:
new_data = pd.read_csv('C:\\Users\\szymo\\Desktop\\PythonProjects\\data science learning\\datasets\\housing price\\test.csv')

new_data.MasVnrType.fillna('Brak')

df_new = new_data.where(new_data['MasVnrType'].isna(), 'non value')
df_new.MasVnrType

0             NaN
1       non value
2             NaN
3       non value
4             NaN
          ...
1454          NaN
1455          NaN
1456          NaN
1457          NaN
1458    non value
Name: MasVnrType, Length: 1459, dtype: object

In [ ]:
city_mpg.rank(method='dense')

0        14.0
1         4.0
2        18.0
3         5.0
4        12.0
         ...
41139    14.0
41140    15.0
41141    13.0
41142    13.0
41143    11.0
Name: city08, Length: 41144, dtype: float64

### to_replace method

In [ ]:
names = pd.Series(['Adam', 'Ewa', 'Zuzanna', 'Szymon'])

#1
names_1 = names.replace(to_replace={'Szymon': 'Kacper'})
names_1
names

#2
names_2 = names.replace(to_replace='Szymon', value='Zosia')
names_2

0       Adam
1        Ewa
2    Zuzanna
3      Zosia
dtype: object

# 9.14 Exercises
With a dataset of your choice:
1. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using .apply.
2. Create a series from a numeric column that has the value of 'high' if it is equal to or above
the mean and 'low' if it is below the mean using np.select.
3. Time the differences between the previous two solutions to see which is faster.
4. Replace the missing values of a numeric series with the median value.
5. Clip the values of a numeric series to between to 10th and 90th percentiles.

In [ ]:
import time

#1 
start_time = time.time()
data = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
mean_value = data.mean()

new_series = data.apply(lambda x: 'high' if x >= mean_value else 'low')
new_series
apply_time = time.time() - start_time


apply_time

0.0005211830139160156

In [ ]:
#2
start_time = time.time()
np_serie = np.select([data >= mean_value, data < mean_value], ['high', 'low'], default='low')

# Convert the result to a pandas Series with the same index as the original data
neeeeew = pd.Series(np_serie, index=data.index)
select_time = time.time() - start_time

print(f"Time taken by .apply: {apply_time:.6f} seconds")
print(f"Time taken by np.select: {select_time:.6f} seconds")

Time taken by .apply: 0.000521 seconds
Time taken by np.select: 0.000746 seconds

In [ ]:
#3

with_missing = data.add(np.nan)
with_missing 

with_missing.fillna(data.mean(), inplace=True)

with_missing

0    55.0
1    55.0
2    55.0
3    55.0
4    55.0
5    55.0
6    55.0
7    55.0
8    55.0
9    55.0
dtype: float64

In [ ]:
#5
lower = data.quantile(0.1)
upper = data.quantile(0.9)

clipped_data = data.clip(lower, upper)
clipped_data

0    19
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
9    91
dtype: int64

In [ ]:
import seaborn as sns

df = sns.load_dataset('tips')

top_5 = df.day.value_counts().nlargest(5).index
df['day_top_5'] = df.day.where(df.day.isin(top_5), 'Other')

df.head(2550)

     total_bill   tip     sex smoker   day    time  size day_top_5
0         16.99  1.01  Female     No   Sun  Dinner     2       Sun
1         10.34  1.66    Male     No   Sun  Dinner     3       Sun
2         21.01  3.50    Male     No   Sun  Dinner     3       Sun
3         23.68  3.31    Male     No   Sun  Dinner     2       Sun
4         24.59  3.61  Female     No   Sun  Dinner     4       Sun
..          ...   ...     ...    ...   ...     ...   ...       ...
239       29.03  5.92    Male     No   Sat  Dinner     3       Sat
240       27.18  2.00  Female    Yes   Sat  Dinner     2       Sat
241       22.67  2.00    Male    Yes   Sat  Dinner     2       Sat
242       17.82  1.75    Male     No   Sat  Dinner     2       Sat
243       18.78  3.00  Female     No  Thur  Dinner     2      Thur

[244 rows x 8 columns]

In [54]:
data_full.dtypes

barrels08     float64
barrelsA08    float64
charge120     float64
charge240     float64
city08          int64
               ...
modifiedOn     object
startStop      object
phevCity        int64
phevHwy         int64
phevComb        int64
Length: 83, dtype: object

6. Using a categorical column, replace any value that is not in the top 5 most frequent values
with 'Other'.
7. Using a categorical column, replace any value that is not in the top 10 most frequent values
with 'Other'.
8. Make a function that takes a categorical series and a number (n) and returns a replace series
that replaces any value that is not in the top n most frequent values with 'Other'.
9. Using a numeric column, bin it into 10 groups that have the same width.
10. Using a numeric column, bin it into 10 groups that have equal sized bins.

In [64]:
#6 
top_5 = data_full['make'].value_counts().nlargest(5).index
top_5

data_full['make_top_5'] = data_full['make'].where(data_full['make'].isin(top_5), 'Other')

data_full

#7
top_10 = data_full.make.value_counts().nlargest(10).index
data_full['make_top_10'] = data_full.make.where(data_full.make.isin(top_10), 'Other')
data_full[['make', 'make_top_10']]

             make make_top_10
0      Alfa Romeo       Other
1         Ferrari       Other
2           Dodge       Dodge
3           Dodge       Dodge
4          Subaru       Other
...           ...         ...
41139      Subaru       Other
41140      Subaru       Other
41141      Subaru       Other
41142      Subaru       Other
41143      Subaru       Other

[41144 rows x 2 columns]

In [66]:
#8

def replace_with_other(series, n):
    top_n = series.value_counts().nlargest(n).index

    return series.where(series.isin(top_n), 'Other')

data_full['make_top_3'] = replace_with_other(data_full['make'], 3)
print(data_full[['make', 'make_top_3']].head(10))

         make make_top_3
0  Alfa Romeo      Other
1     Ferrari      Other
2       Dodge      Dodge
3       Dodge      Dodge
4      Subaru      Other
5      Subaru      Other
6      Subaru      Other
7      Toyota      Other
8      Toyota      Other
9      Toyota      Other

In [74]:
#9
df = data_full
df.head()
df['citympg_equal_width'] = pd.cut(df.city08, bins=10)
df.head()

#10

df['citympg_equal_size'] = pd.qcut(df.city08, q=10)

df.citympg_equal_size

0         (18.0, 20.0]
1        (5.999, 13.0]
2         (21.0, 24.0]
3        (5.999, 13.0]
4         (16.0, 17.0]
             ...
41139     (18.0, 20.0]
41140     (18.0, 20.0]
41141     (17.0, 18.0]
41142     (17.0, 18.0]
41143     (15.0, 16.0]
Name: citympg_equal_size, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.999, 13.0] < (13.0, 14.0] < (14.0, 15.0] < (15.0, 16.0] ... (18.0, 20.0] < (20.0, 21.0] < (21.0, 24.0] < (24.0, 150.0]]

# Indexing Operations

In [91]:
city2 = city_mpg.rename(make.to_dict())

city2.loc[['Subaru']]

city2.sort_index().loc['Ferrari':'Lamborghini']

idx = pd.Index(['Dodge'])

city2.loc[idx]

city2.iloc[-8:]

mask = city2 > 50
#city2.iloc[mask] # error because mask is not numpy mask

city2.iloc[mask.to_numpy()]

city2.reset_index()

            index  city08
0      Alfa Romeo      19
1         Ferrari       9
2           Dodge      23
3           Dodge      10
4          Subaru      17
...           ...     ...
41139      Subaru      19
41140      Subaru      20
41141      Subaru      18
41142      Subaru      18
41143      Subaru      16

[41144 rows x 2 columns]

# 10.10 Exercises
With a dataset of your choice:
1. Inspect the index.
2. Sort the index.
3. Set the index to monotonically increasing integers starting from 0.
4. Set the index to monotonically increasing integers starting from 0, then convert these to the string version. Save this a s2.
5. Using s2, pull out the first 5 entries.
6. Using s2, pull out the last 5 entries.
7. Using s2, pull out one hundred entries starting at index position 10.
8. Using s2, create a series with values with index entries '20', '10', and '2'.

In [103]:
series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b','c','d','e','f','g','h'])

#1
series.index

#2
series.sort_index()

#3
series.reset_index(drop=True)

#4
reset_data_str = data.reset_index(drop=True)
reset_data_str.index = reset_data_str.index.astype(str)

#5
s2[:5]

#6
s2[-5:]

#7
enties_100 = s2[10:110]

#8
new_series = pd.Series(['Value1', 'Value2', 'Value3'], index=['20', '10', '2'])
new_series

20    Value1
10    Value2
2     Value3
dtype: object

# String Manipulation

In [109]:
make.astype('string')

make.str.lower()


name_series = pd.Series(['suz', 'john', 'fred'])
name_series.str.capitalize()

name_series.str.find("e")

name_series.str.startswith('f')

0    False
1    False
2     True
dtype: bool

In [110]:
name_series.str.extract(r'([a-e])', expand=False)

0    NaN
1    NaN
2      e
dtype: object

## Searching

To find all of the non alphabetic characters (disregarding space), you could use this code:

In [112]:
make.str.extract(r'([^a-z A-Z])', expand=False).value_counts()

make
-    1727
.      46
,       9
Name: count, dtype: int64

## Splitting

In [ ]:
age = pd . Series (['0-10' , '11-15' , '11-15' , '61-65' , '46-50'])
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: object

In [115]:
age.str.split('-')

0     [0, 10]
1    [11, 15]
2    [11, 15]
3    [61, 65]
4    [46, 50]
dtype: object

In [116]:
age.str.split('-', expand=True).astype('int').mean(axis='columns')

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: float64

In [117]:
import random

def between(row):
    return random.randint(*row.values)

age.str.split('-', expand=True).astype('int').apply(between, axis='columns')

0     2
1    15
2    12
3    65
4    46
dtype: int64

ModuleNotFoundError: No module named 'Cython'